<div class="alert">
  <div *ngIf="successMessage" class="alert alert-success" role="alert">
    {{ successMessage }}
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
    {{ errorMessage }}
  </div>
</div>

<form [formGroup]="addChildForm" (ngSubmit)="onSubmit()">
    <h2>Ihr Kind anmelden!</h2>

    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required>
        <mat-error>Name Ihres Kindes erforderlich</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Kindergarten</mat-label>
        <select matNativeControl formControlName="kindergardenId" required>
            <option value="" disabled>Bitte auswählen</option>
            <option *ngFor="let kindergarden of storeService.kindergardens" [ngValue]="kindergarden.id">
                {{kindergarden.name}}, {{kindergarden.address}}</option>
        </select>
        <mat-error>Kindergarten auswählen</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="datePicker" formControlName="birthDate" [min]="minDate" [max]="maxDate" required readonly>
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="datePicker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #datePicker></mat-datepicker>
        <mat-error>Valides Datum auswählen</mat-error>
    </mat-form-field>

    <button mat-raised-button type="submit">Anmelden</button>
</form>
