<form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Nach Kindergarten filtern</mat-label>
    <select matNativeControl formControlName="kindergardenFilter">
      <option value="">Keine Auswahl</option>
      <option *ngFor="let kindergarden of storeService.kindergardens" [ngValue]="kindergarden.id">
        {{kindergarden.name}}, {{kindergarden.address}}</option>
    </select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Ordnen nach ...</mat-label>
    <select matNativeControl formControlName="NameOrder">
      <option value="">Keine Auswahl</option>
      <option value="name">Kindergarten und Name</option>
      <option value="signupdate">Hinzufügungsdatum</option>
    </select>
  </mat-form-field>

  <mat-form-field *ngIf="showSignupOrderField">
    <mat-label>Nach Anmeldedatum ordnen</mat-label>
    <select matNativeControl formControlName="SignupOrder" [(ngModel)]="signupOrderDefault">
      <option value="asc">Aufsteigend</option>
      <option value="desc">Absteigend</option>
    </select>
  </mat-form-field>

  <button mat-raised-button type="submit">Filtern</button>
</form>
