<app-data
  [kindergartenIDFilter]="kindergartenIDFilter"
  [isOrderByName]="isOrderByName"
  [currentPage]="currentPage"
  (selectPageEvent)="receiveMessage($event)">
</app-data>

<app-filter-bar
  (kindergartenIDFilter)="toggleSetFilter($event)"
  (isOrderByName)="toggleSetOrder($event)">
</app-filter-bar>

<br>

<app-button
  [showAddData]="showAddData"
  (toggleButtonClickEvent)="toggleButtonClicked($event)">
</app-button>

<app-add-data
  *ngIf="showAddData"
  [currentPage]="currentPage">
</app-add-data>
